<script src="../../../assets/js/PhoneValid.js"></script>
<header id="header"><!--  fixed-header  -->
  <div class="wrap">
    <strong class="logo"><a routerLink="">itmint</a></strong>
    <nav id="nav">
      <div class="aside-nav">
        <a href="#" class="toogle-menu">
          <em class="toogle-text">MENU</em>
          <span class="t">&nbsp;</span>
          <span class="c">&nbsp;</span>
          <span class="b">&nbsp;</span>
        </a>
        <a href="#modal-message" class="link simplebox">GET IN TOUCH</a>
      </div>
      <ul class="menu">
        <li><a routerLink=""><span>HOME</span></a></li>
        <li class="item-drop"><a href="javascript:0"><span>COMPANY</span></a>
          <ul class="drop">
            <li><a routerLink="/Industries"><span>Industries</span></a></li>
            <li><a routerLink="/Technologies"><span>Technologies</span></a></li>
          </ul>
        </li>
        <li class="item-drop"><a href="javascript:0"><span>SERVICES</span></a>
          <ul class="drop">
            <li><a routerLink="/CustomSoftwareDevelopment"><span>Custom Software Development</span></a></li>
            <li><a routerLink="/MobileApplicationDevelopment"><span>Mobile Application Development</span></a></li>
            <li><a routerLink="/UxUiDesign"><span>UI/UX Design</span></a></li>
          </ul>
        </li>
        <li><a routerLink="/Contacts"><span>CONTACTS</span></a>
        </li>
        <li><a routerLink="/Admin"><span>ADMIN</span></a>
        </li>
      </ul>
      <div class="menu-holder">
        <div class="head-nav">
          <div class="wrap">
            <strong class="logo"><a href="#">itmint</a></strong>
            <div class="aside-nav">
              <a href="#" class="toogle-menu">
                <em class="toogle-text">Close</em>
                <span class="t">&nbsp;</span>
                <span class="c">&nbsp;</span>
                <span class="b">&nbsp;</span>
              </a>
            </div>
          </div>
        </div>
        <div class="text-center">
          <div class="text-inner">
            <div class="text-last">
              <div class="col">
                <strong class="title-menu">HOME</strong>
                <ul class="menu">
                  <li><a routerLink="">Home</a></li>
                </ul>
              </div>
              <div class="col">
                <strong class="title-menu">COMPANY</strong>
                <ul class="menu">
                  <li><a routerLink="/Industries"><span>Industries</span></a></li>
                  <li><a routerLink="/Technologies"><span>Technologies</span></a></li>
                </ul>
              </div>
              <div class="col">
                <strong class="title-menu">SERVICES</strong>
                <ul class="menu">
                  <li><a routerLink="/CustomSoftwareDevelopment"><span>Custom Software Development</span></a></li>
                  <li><a routerLink="/MobileApplicationDevelopment"><span>Mobile Application Development</span></a></li>
                  <li><a routerLink="/UxUiDesign"><span>UI/UX Design</span></a></li>
                </ul>
              </div>

              <div class="col">
                <strong class="title-menu">CONTACTS</strong>
                <ul class="menu">
                  <li><a routerLink="/Contacts"><span>CONTACTS</span></a>
                  <li><a href="#modal-message" class="simplebox">Get in touch</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<!--modal message-->
<div class="modal" id="modal-message">
  <div class="text-center">
    <div class="text-inner">
      <div class="text-last">
        <div class="modal-inner">
          <div class="dark-from">
            <form action="#">
              <fieldset>
                <strong class="title-modal title-large">Contact</strong>
                <strong class="title-modal">To Hire Us Or <strong class="text-green">Join Us?</strong></strong>
                <p>Don’t let the opportunity slip by, contact us to explore what ITMint can offer you and your business.
                  If you are a brilliant engineer and are looking for work opportunities please put “hire me” in your
                  subject line. </p>
                <div [ngClass]="'hold-field'">
                  <input type="text" id="name" placeholder="Name *" maxlength="48" name="name" #name="ngModel"
                         [(ngModel)]="req.Name" required/>
                  <span class="icon-field icon-user">&nbsp;</span>

                </div>
                <div [ngClass]="(req.Phone!='0-9]{12}')?'hold-field':'hold-field error'">
                  <input type="text" id="phone" placeholder="Phone" pattern="[0-9]{12}" maxlength="12" name="phone"
                         #phone="ngModel" [(ngModel)]="req.Phone" (keyup)="GetFlag(req.Phone)"/>
                  <span class="icon-field icon-phone">&nbsp;</span>
                </div>
                <div [ngClass]="(email.errors)?'hold-field':'hold-field error'">
                  <input type="email" placeholder="Email *" id="email" name="email" #email="ngModel"
                         [(ngModel)]="req.Email"
                         required [pattern]="EMAIL_PATTERN"/>
                  <span class="icon-field icon-email">&nbsp;</span>
                </div>
                <div class="hold-select">
                  <select data-placeholder="Request Type" name="reqtype"
                          [(ngModel)]="req.RequestTypeInString" (click)="OnChange(req.RequestTypeInString)">
                    <option *ngFor="let c of types.types" [ngValue]="c">{{c}}</option>
                  </select>
                  <span class="icon-field icon-case">&nbsp;</span>
                </div>
                <div class="hold-field field-tarea ">
                  <textarea cols="3" rows="3" placeholder="Description *" name="desc"
                            [(ngModel)]="req.Description"></textarea>
                  <span class="icon-field icon-message">&nbsp;</span>
                </div>
                <div id="showFileContainer">
                  <div class="file-holder" *ngFor="let item of filesToUpload">
                    <div class="name-file">
                      <span class="text-file">{{item.name}}</span>
                      <a href="javascript:0" (click)="DeleteFromFileArray(item.name)" class="close-remove">close</a>
                    </div>
                    <div class="file-progress-bar">
                      <div [ngClass]="ProgressBar()" [ngStyle]="{'width': barInPersent + '%'}">
                      </div>
                    </div>
                  </div>
                </div>
                <span class="text-error"
                      *ngIf="(name.errors && (name.dirty || name.touched))
                       || (phone.errors && (phone.dirty || phone.touched))
                       || (email.errors && (email.dirty || email.touched))">Please fill in all of the required fields.</span>
                <div class="hold-btn">
                  <button class="btn simplebox" type="button" data-href="#modal-send" name="but" (click)="submit(req)">
                    Send
                  </button>
                  <div class="file-btn">
                    <input class="file-input-area" type="file" (change)="fileDownload($event)" multiple/>
                    <a href="#" class="btn btn-white">Attach <span class="hidden-xs">a</span> File</a>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <strong class="logo">itmint</strong>
  <span class="modal-close btn-close"><em>close</em> <span class="icon-close">&nbsp;</span></span>
</div>
<router-outlet></router-outlet>
<footer id="footer">
  <div class="wrap">
    <div class="hold-line">
      <strong class="logo"><a href="#">itmint</a></strong>
      <ul class="list-networks">
        <li><a class="facebook" href="https://www.facebook.com/itmint.ca" target="_blank">facebook</a></li>
        <li><a class="twitter" href="https://twitter.com/ITMINTca" target="_blank">tweeter</a></li>
        <li><a class="instagram" href="https://www.instagram.com/tatianaitmint/" target="_blank">instagram</a></li>
      </ul>
      <div class="hold-col">
        <div class="col">
          <strong class="title-menu">HOME</strong>
          <ul class="menu">
            <li class="active"><a routerLink=""><span>Home</span></a></li>
          </ul>
        </div>
        <div class="col">
          <strong class="title-menu">COMPANY</strong>
          <ul class="menu">
            <li><a routerLink="/Industries"><span>Industries</span></a></li>
            <li><a routerLink="/Technologies"><span>Technologies</span></a></li>
          </ul>
        </div>
        <div class="col">
          <strong class="title-menu">SERVICES</strong>
          <ul class="menu">
            <li><a routerLink="/CustomSoftwareDevelopment"><span>Custom Software Development</span></a></li>
            <li><a routerLink="/MobileApplicationDevelopment"><span>Mobile Application Development</span></a></li>
            <li><a routerLink="/UxUiDesign"><span>UI/UX Design</span></a></li>
          </ul>
        </div>
        <div class="col">
          <strong class="title-menu">CONTACTS</strong>
          <ul class="menu">
            <li><a routerLink="/Contacts"><span>CONTACTS</span></a>
            <li><a href="#modal-message" class="simplebox">Get in touch</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="holder">
      <span class="copyright">&copy; 2017 Itmint — <span class="text-inner">Custom Software Development</span></span>
      <span class="foot-text">Design &amp; Development — <a href="#">Itmint</a></span>
    </div>
  </div>
</footer>
