<div id="wrapper">
		<!-- header  start -->
		<header id="header">
			<strong class="logo"><a routerLink="">ITMINT</a></strong>
			<ul class="head-aside">
				<li><a routerLink="/Admin/Settings"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
			</ul>
			<nav id="nav">
				<ul class="menu">
					<li class="active"><a routerLink="/Admin/Inbox"><i class="fa fa-inbox" aria-hidden="true"></i>INBOX</a></li>
					<li><a routerLink="/Admin/Metadata"><i class="fa fa-tags" aria-hidden="true"></i>METADATA</a></li>
					<li><a routerLink="/Admin/Projects"><i class="fa fa-file-text" aria-hidden="true"></i>PROJECTS</a></li>
				</ul>
			</nav>
		</header>
		<!-- header  end
		     main  start -->
		<div id="main">
			<h1><a routerLink="/Admin/Inbox" class="link-back"><i class="fa fa-angle-left" aria-hidden="true"></i>Inbox</a></h1>
			<div class="container" >
				<form action="#">
					<div class="wrap-info">
						<div class="row">
							<div class="col">
								<dl class="info">
									<dt>Name</dt>
									<dd>{{reqModel?.name}}</dd>
								</dl>
							</div>
							<div class="col">
								<dl class="info">
									<dt>Type</dt>
									<dd><span [ngClass]="getCssClass(reqModel?.requestTypeInString)">{{reqModel?.requestTypeInString}}</span></dd>
								</dl>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<dl class="info">
									<dt>Email</dt>
									<dd>{{reqModel?.email}}</dd>
								</dl>
							</div>
							<div class="col">
								<dl class="info">
									<dt>Country</dt>
									<dd>{{reqModel?.country}}</dd>
								</dl>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<dl class="info">
									<dt>Phone</dt>
									<dd>+{{reqModel?.phone}}</dd>
								</dl>
							</div>
							<div class="col">
								<dl class="info">
									<dt>Time</dt>
									<dd>{{reqModel?.date | date: 'dd MMMM, yyyy'}} @ {{reqModel?.date | date: 'HH:mm'}}</dd>
								</dl>
							</div>
						</div>
					</div>
					<div class="hold-line">
						<h2>Description</h2>
						<p>{{reqModel?.description}}</p>
					</div>
					<div class="hold-line">
						<h2>Attachments</h2>
						<ul class="list-attachments" >
							<li *ngFor="let items of fileModel"><a href="javascript:0" (click)="DownloadFileById(items.id, items.fileName)"><i [ngClass]="fileClasses(items.contentType)" aria-hidden="true" ></i>{{items.fileName}}</a></li>
							<li><a class="link-all" href="#"><i class="fa fa-archive" aria-hidden="true"></i>DOWNLOAD ALL</a></li>
						</ul>
					</div>
					<div class="hold-foot">
						<label class="label-check"><input type="checkbox" [checked]="reqModel?.flag" (change)="CheckingFlag(reqModel.id)" class="customCheckbox " />Flag message</label>
						<button class="btn btn-red" type="submit" (click)="DeleteRequest(reqModel?.id)" routerLink="/Admin/Inbox">Delete</button>
					</div>
				</form>
			</div>
		</div>
		<!-- main  end -->
	</div>
