<div id="wrapper">
  <!-- header  start -->
  <header id="header">
    <strong class="logo"><a href="#">ITMINT</a></strong>
    <ul class="head-aside">
      <li><a routerLink="/Admin/Settings"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
    </ul>
    <nav id="nav">
      <ul class="menu">
        <li><a routerLink="/Admin/Inbox"><i class="fa fa-inbox" aria-hidden="true"></i>INBOX</a></li>
        <li><a routerLink="/Admin/Metadata"><i class="fa fa-tags" aria-hidden="true"></i>METADATA</a></li>
        <li class="active"><a routerLink="/Admin/Projects"><i class="fa fa-file-text"
                                                              aria-hidden="true"></i>PROJECTS</a></li>
      </ul>
    </nav>
  </header>
  <!-- header  end
           main  start -->
  <div id="main">
    <div class="hold-table">
      <div class="head-table">
        <div class="hold-title">
          <h1>Projects</h1>
        </div>
        <a routerLink="/Admin/Projects-Details" class="btn btn-small btn-add">+</a>
      </div>
      <div class="inner-table">
        <table>
          <tr>
            <th>Name</th>
            <th>Password</th>
            <th>Status</th>
          </tr>
          <tr *ngFor="let items of projects" [routerLink]="['/Admin/Projects-Details', items.projectId]">
            <td>{{items.name}}</td>
            <td><span [ngClass]="(items.password==='')?'btn-icon  icon-gray' : 'btn-icon'">
                <i [ngClass]="'fa fa-lock'" aria-hidden="true"></i></span></td>
            <td><span [ngClass]="(items.isActive===false)?'icon-circle circle-gray' : 'icon-circle'">&nbsp;</span></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="pager">
      <a href="#" class="btn-prev disabled">prev</a>
      <a href="#" class="btn-next">next</a>
      <span class="number-page">Page 1 of 4</span>
    </div>
  </div>
  <!-- main  end -->
</div>
