<div id="wrapper">
  <!-- header  start -->
  <header id="header">
    <strong class="logo"><a routerLink="">ITMINT</a></strong>
    <ul class="head-aside">
      <li class="active"><a routerLink="/Admin/AddUser"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
    </ul>
    <nav id="nav">
      <ul class="menu">
        <li><a routerLink="/Admin/Inbox"><i class="fa fa-inbox" aria-hidden="true"></i>INBOX</a></li>
        <li><a routerLink="/Admin/Metadata"><i class="fa fa-tags" aria-hidden="true"></i>METADATA</a></li>
        <li><a routerLink="/Admin/Projects"><i class="fa fa-file-text" aria-hidden="true"></i>PROJECTS</a></li>
      </ul>
    </nav>
  </header>
  <!-- header  end
           main  start -->
  <div id="main">
    <h1><a routerLink="/Admin/Settings" class="link-back"><i class="fa fa-angle-left"
                                                             aria-hidden="true"></i>Settings</a></h1>
    <div class="container">
      <form action="#">
        <fieldset>
          <div class="wrap-row other-space">
            <div class="row">
              <div class="col ">
                <div class="inner-col">
                  <label for="data-name" class="label-form">Name</label>
                  <input id="data-name" type="text" placeholder="Name" name="name" [(ngModel)]="userModel.fullName"/>
                </div>
                <div class="inner-col">
                  <label for="data-email" class="label-form">Email</label>
                  <input id="data-email" type="text" placeholder="Email" name="mail" [(ngModel)]="userModel.email"/>
                </div>
              </div>
              <div class="col">
                <div class="inner-col">
                  <label for="data-position" class="label-form">Position</label>
                  <input id="data-position" type="text" placeholder="Position" name="pos"
                         [(ngModel)]="userModel.position"/>
                </div>
                <div class="inner-col">
                  <label for="data-mobile" class="label-form">Mobile</label>
                  <div class="field-check check-more">
                    <label class="label-check"><input type="checkbox" [checked]="userModel.isAdministrative"
                                                      (change)="userModel.isAdministrative = !userModel.isAdministrative"
                                                      class="customCheckbox"/>Admin</label>
                    <input id="data-mobile" type="text" name="mob"
                           [(ngModel)]="userModel.phoneNumber"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hold-foot">
            <button class="btn btn-blue" type="button">Reset Password</button>
            <button class="btn" type="submit" (click)="ChooseMethod(userModel)" routerLink="/Admin/Settings">Save
            </button>
            <button class="btn btn-red" type="button" (click)="DeleteUser()" routerLink="/Admin/Settings">Delete</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <!-- main  end -->
</div>
