<div id="wrapper">
		<!-- header  start -->
		<header id="header">
			<strong class="logo"><a href="#">ITMINT</a></strong>
			<ul class="head-aside">
				<li><a routerLink="/Admin/Settings"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
			</ul>
			<nav id="nav">
				<ul class="menu">
					<li><a routerLink="/Admin/Inbox"><i class="fa fa-inbox" aria-hidden="true"></i>INBOX</a></li>
					<li class="active"><a routerLink="/Admin/Metadata"><i class="fa fa-tags" aria-hidden="true"></i>METADATA</a></li>
					<li><a routerLink="/Admin/Projects"><i class="fa fa-file-text" aria-hidden="true"></i>PROJECTS</a></li>
				</ul>
			</nav>
		</header>
		<!-- header  end
		     main  start -->
		<div id="main">
			<div class="hold-table">
				<div class="head-table">
					<div class="hold-title">
						<h1>Metadata</h1>
					</div>
					<div class="hold-search">
						<form action="#">
							<fieldset>
								<input type="text" placeholder="Search" />
								<button class="btn-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
							</fieldset>
						</form>
					</div>
				</div>
				<div class="inner-table">
					<table>
						<tr>
							<th>Name</th>
							<th>Author</th>
							<th>Keywords</th>
							<th>Description</th>
						</tr>
						<tr>
							<td>Index</td>
							<td><span class="icon-circle">&nbsp;</span></td>
							<td><span class="icon-circle">&nbsp;</span></td>
							<td><span class="icon-circle">&nbsp;</span></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="pager">
				<a href="#" class="btn-prev disabled">prev</a>
				<a href="#" class="btn-next">next</a>
				<span class="number-page">Page 1 of 1</span>
			</div>
		</div>
		<!-- main  end -->
	</div>
