<div id="wrapper">
		<!-- header  start -->
		<header id="header">
			<strong class="logo"><a routerLink="">ITMINT</a></strong>
			<ul class="head-aside">
				<li class="active"><a routerLink="/Admin/Requests"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
				<li><a routerLink=""><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
			</ul>
			<nav id="nav">
				<ul class="menu">
					<li><a routerLink="/Admin/Inbox"><i class="fa fa-inbox" aria-hidden="true"></i>INBOX</a></li>
					<li><a routerLink="/Admin/Metadata"><i class="fa fa-tags" aria-hidden="true"></i>METADATA</a></li>
					<li><a routerLink="/Admin/Projects"><i class="fa fa-file-text" aria-hidden="true"></i>PROJECTS</a></li>
				</ul>
			</nav>
		</header>
		<!-- header  end
		     main  start -->
		<div id="main">
			<h1><a routerLink="/Admin/Settings" class="link-back"><i class="fa fa-angle-left" aria-hidden="true"></i>Settings</a></h1>
			<div class="container">
				<form action="#">
					<fieldset>
						<div class="wrap-row">
							<div class="row">
								<div class="col ">
									<div class="inner-col">
										<label for="data-name" class="label-form">Name</label>
										<div class="hold-field">
											<input id="data-name" type="text" value="Web Development" />
											<div class="wrap-drop">
												<a href="#" class="btn-color btn-open"></a>
												<div class="dropdown">
													<div class="container-color">
														<label class="label-color label-green"><input type="radio" class="customRadio" name="radio-color01" /></label>
														<label class="label-color label-green02"><input type="radio" class="customRadio" name="radio-color01" /></label>
														<label class="label-color label-blue"><input type="radio" checked="checked" class="customRadio" name="radio-color01" /></label>
														<label class="label-color label-blue02"><input type="radio" class="customRadio" name="radio-color01" /></label>
														<label class="label-color label-purple"><input type="radio" class="customRadio" name="radio-color01" /></label>
														<label class="label-color label-green03"><input type="radio" class="customRadio" name="radio-color01" /></label>
														<label class="label-color label-green04"><input type="radio" class="customRadio" name="radio-color01" /></label>
														<label class="label-color label-blue03"><input type="radio" class="customRadio" name="radio-color01" /></label>
														<label class="label-color label-blue04"><input type="radio" class="customRadio" name="radio-color01" /></label>
														<label class="label-color label-purple02"><input type="radio" class="customRadio" name="radio-color01" /></label>

														<label class="label-color label-orange"><input type="radio" class="customRadio" name="radio-color01" /></label>
														<label class="label-color label-orange02"><input type="radio" class="customRadio" name="radio-color01" /></label>
														<label class="label-color label-red"><input type="radio" class="customRadio" name="radio-color01" /></label>
														<label class="label-color"><input type="radio" class="customRadio" name="radio-color01" /></label>
														<label class="label-color label-gray"><input type="radio" class="customRadio" name="radio-color01" /></label>
														<label class="label-color label-orange03"><input type="radio" class="customRadio" name="radio-color01" /></label>
														<label class="label-color label-orange04"><input type="radio" class="customRadio" name="radio-color01" /></label>
														<label class="label-color label-red02"><input type="radio" class="customRadio" name="radio-color01" /></label>
														<label class="label-color label-gray02"><input type="radio" class="customRadio" name="radio-color01" /></label>
														<label class="label-color label-gray03"><input type="radio" class="customRadio" name="radio-color01" /></label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="inner-col">
										<label for="from-name" class="label-form">From Name</label>
										<input id="from-name" type="text" value="ITMINT Team" />
									</div>
									<div class="inner-col">
										<label for="data-email" class="label-form">From Email</label>
										<input id="data-email" type="text" value="info@itmint.ca" />
									</div>
									<div class="inner-col">
										<label for="data-head" class="label-form">Header Text</label>
										<input id="data-head" type="text" value="" />
									</div>
								</div>
								<div class="col">
									<label for="data-text" class="label-form">Body Text</label>
									<textarea id="data-text" cols="3" rows="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
								</div>
							</div>
						</div>
						<div class="hold-foot">
							<label class="label-check"><input type="checkbox" checked="checked" class="customCheckbox" />Active</label>
							<label class="label-check"><input type="checkbox" class="customCheckbox" />Default</label>
							<button class="btn" type="submit">Save</button>
							<button class="btn btn-red" type="button">Delete</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<!-- main  end -->
	</div>
