<div id="wrapper">
		<!-- header  start -->
		<header id="header">
			<strong class="logo"><a routerLink="">ITMINT</a></strong>
			<ul class="head-aside">
				<li class="active"><a routerLink="/Admin/Requests"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
				<li><a routerLink=""><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
			</ul>
			<nav id="nav">
				<ul class="menu">
					<li><a routerLink="/Admin/Inbox"><i class="fa fa-inbox" aria-hidden="true"></i>INBOX</a></li>
					<li><a routerLink="/Admin/Metadata"><i class="fa fa-tags" aria-hidden="true"></i>METADATA</a></li>
					<li><a routerLink="/Admin/Projects"><i class="fa fa-file-text" aria-hidden="true"></i>PROJECTS</a></li>
				</ul>
			</nav>
		</header>
		<!-- header  end
		     main  start -->
		<div id="main">
			<h1><a routerLink="/Admin/Settings" class="link-back"><i class="fa fa-angle-left" aria-hidden="true"></i>Settings</a></h1>
			<div class="container">
				<form action="#">
					<fieldset>
						<div class="wrap-row">
							<div class="row">
								<div class="col ">
									<div class="inner-col">
										<label for="data-name" class="label-form">Name</label>
										<div class="hold-field">
											<input id="data-name" type="text" placeholder="Web Development" name="type" [(ngModel)]="request.Type" />
											<div (click)="EventIcons()" [ngClass]="(status)?'wrap-drop hovering open': 'wrap-drop'">
												<a href="javascript:0" [ngClass]="'btn-color'"></a>
												<div class="dropdown">
													<div class="container-color">
														<label *ngFor="let items of colors" [ngClass]="items" (click)="ChangeColor(items)"></label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="inner-col">
										<label for="from-name" class="label-form">From Name</label>
										<input id="from-name" type="text" placeholder="ITMINT Team" name="name" [(ngModel)]="request.EmployeesName" />
									</div>
									<div class="inner-col">
										<label for="data-email" class="label-form">From Email</label>
										<input id="data-email" type="text" placeholder="info@itmint.ca" name="email" [(ngModel)]="request.EmployeesEmail" />
									</div>
									<div class="inner-col">
										<label for="data-head" class="label-form">Header Text</label>
										<input id="data-head" type="text" placeholder="Header" name="header" [(ngModel)]="request.MessageToCustomer" />
									</div>
								</div>
								<div class="col">
									<label for="data-text" class="label-form">Body Text</label>
									<textarea id="data-text" cols="3" rows="3" placeholder="Body" name="body" [(ngModel)]="request.MessageBodyToCustomer"></textarea>
								</div>
							</div>
						</div>
						<div class="hold-foot">
							<label class="label-check"><input type="checkbox" [checked]="request.IsEnabled" (change)="request.IsEnabled = !request.IsEnabled"  class="customCheckbox" />Active</label>
							<label class="label-check"><input type="checkbox" [checked]="request.IsDefault" (change)="request.IsDefault = !request.IsDefault"  class="customCheckbox" />Default</label>
							<button class="btn" type="submit" (click)="SaveRequest(request)" routerLink="/Admin/Settings">Save</button>
							<button class="btn btn-red" type="button">Delete</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<!-- main  end -->
	</div>
