<div id="wrapper">
  <!-- header  start -->
  <header id="header">
    <ul class="head-aside">
      <li><a routerLink="/Admin/Settings"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
      <li><a><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
    </ul>
    <nav id="nav">
      <ul class="menu">
        <li class="active"><a routerLink="/Admin/Inbox"><i class="fa fa-inbox" aria-hidden="true"></i>INBOX</a></li>
        <li><a routerLink="/Admin/Metadata"><i class="fa fa-tags" aria-hidden="true"></i>METADATA</a></li>
        <li><a routerLink="/Admin/Projects"><i class="fa fa-file-text" aria-hidden="true"></i>PROJECTS</a></li>
      </ul>
    </nav>
  </header>
<router-outlet></router-outlet>
</div>
