<div class="modal" id="modal-message">
  <div class="text-center">
    <div class="text-inner">
      <div class="text-last">
        <div class="modal-inner">
          <div class="dark-from">
            <form action="#">
              <fieldset>
                <strong class="title-modal title-large">Contact</strong>
                <strong class="title-modal">To Hire Us Or <strong class="text-green">Join Us?</strong></strong>
                <p>Don’t let the opportunity slip by, contact us to explore what ITMint can offer you and your business.
                  If you are a brilliant engineer and are looking for work opportunities please put “hire me” in your
                  subject line. </p>
                <div [ngClass]="'hold-field'">
                  <input type="text" id="name" placeholder="Name *" maxlength="48" name="name" #name="ngModel"
                         [(ngModel)]="req.Name" required/>
                  <span class="icon-field icon-user">&nbsp;</span>

                </div>
                <div [ngClass]="(req.Phone!='0-9]{12}')?'hold-field':'hold-field error'">
                  <input type="text" id="phone" placeholder="Phone" pattern="[0-9]{12}" maxlength="12" name="phone"
                         #phone="ngModel" [(ngModel)]="req.Phone"/>
                  <span class="icon-field icon-phone">&nbsp;</span>
                </div>
                <div [ngClass]="(email.errors)?'hold-field':'hold-field error'">
                  <input type="email" placeholder="Email *" id="email" name="email" #email="ngModel"
                         [(ngModel)]="req.Email"
                         required [pattern]="EMAIL_PATTERN"/>
                  <span class="icon-field icon-email">&nbsp;</span>
                </div>
                <div class="hold-select">
                  <select data-placeholder="Request Type" name="reqtype"
                          [(ngModel)]="req.RequestTypeInString" (click)="OnChange(req.RequestTypeInString)">
                    <option *ngFor="let c of requestType" [ngValue]="c">{{c}}</option>
                  </select>
                  <span class="icon-field icon-case">&nbsp;</span>
                </div>
                <div class="hold-field field-tarea ">
                  <textarea cols="3" rows="3" placeholder="Description *" name="desc"
                            [(ngModel)]="req.Description"></textarea>
                  <span class="icon-field icon-message">&nbsp;</span>
                </div>
                <div id="showFileContainer">
                  <div class="file-holder" *ngFor="let item of filesToUpload">
                    <div class="name-file">
                      <span class="text-file">{{item.name}}</span>
                      <a href="javascript:0" (click)="DeleteFromFileArray(item.name)" class="close-remove">close</a>
                    </div>
                    <div class="file-progress-bar">
                      <div [ngClass]="ProgressBar()" [ngStyle]="{'width': barInPersent + '%'}">
                      </div>
                    </div>
                  </div>
                </div>
                <span class="text-error"
                      *ngIf="(name.errors && (name.dirty || name.touched))
                       || (phone.errors && (phone.dirty || phone.touched))
                       || (email.errors && (email.dirty || email.touched))">Please fill in all of the required fields.</span>
                <div class="hold-btn">
                  <button class="btn simplebox" type="button" data-href="#modal-send" name="but" (click)="submit(req)">
                    Send
                  </button>
                  <div class="file-btn">
                    <input class="file-input-area" type="file" (change)="fileDownload($event)" multiple/>
                    <a href="#" class="btn btn-white">Attach <span class="hidden-xs">a</span> File</a>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
