<div id="wrapper">
		<!-- header  start -->
		<header id="header">
			<strong class="logo"><a href="#">ITMINT</a></strong>
			<ul class="head-aside">
				<li><a routerLink="/Admin/Settings"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
				<li><a href="javascript:0" (click)="logout()"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
			</ul>
			<nav id="nav">
				<ul class="menu">
					<li class="active"><a routerLink="/Admin/Inbox"><i class="fa fa-inbox" aria-hidden="true"></i>INBOX</a></li>
					<li><a routerLink="/Admin/Metadata"><i class="fa fa-tags" aria-hidden="true"></i>METADATA</a></li>
					<li><a routerLink="/Admin/Projects"><i class="fa fa-file-text" aria-hidden="true"></i>PROJECTS</a></li>
				</ul>
			</nav>
		</header>
		<!-- header  end
		     main  start -->
		<div id="main">
			<ul class="bar">
				<li>
					<div class="bar-hold">
						<strong class="bar-title">NEW REQUEST
							<span class="hold-icon"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></span>
						</strong>
						<strong class="bar-number">{{totalRequests?.notViewed}}</strong>
						<span class="bar-info">LATEST WAS {{totalRequests?.latestRequest}} HOURS AGO</span>
    </div>
				</li>
				<li>
					<div class="bar-hold hold-green">
						<strong class="bar-title">TOP TYPES
							<span class="hold-icon"><i class="fa fa-circle-o" aria-hidden="true"></i></span>
						</strong>
						<ul class="list" *ngFor="let items of totalRequests?.topTypes">
							<li><a href="javascript:void(0)" (click)="SearchMethod(items)" ngDefaultControl>{{items}}</a></li>
						</ul>
					</div>
				</li>
				<li>
					<div class="bar-hold hold-orange">
						<strong class="bar-title">TOP COUNTRIES
							<span class="hold-icon"><i class="fa fa-globe" aria-hidden="true"></i></span>
						</strong>
						<ul class="list" *ngFor="let items of totalRequests?.topCountry">
              <li><a href="javascript:void(0)" (click)="SearchMethod(items)" ngDefaultControl>{{items}}</a></li>
						</ul>
					</div>
				</li>
				<li>
					<div class="bar-hold hold-red">
						<strong class="bar-title">TOTAL REQUESTS
							<span class="hold-icon"><i class="fa fa-telegram" aria-hidden="true"></i></span>
						</strong>
						<strong class="bar-number">{{totalRequests?.totalRequests}}</strong>
						<span class="bar-info">13% DECREASE THIS MONTH</span>
					</div>
				</li>
			</ul>
			<div class="hold-table">
				<div class="head-table">
					<div class="hold-title">
						<h1>Requests</h1>
					</div>
					<div class="hold-search">
						<form action="#">
							<fieldset>
								<input type="text" placeholder="Search" name="search" [(ngModel)]="baseSearchWord" (change)="SearchMethod(baseSearchWord)" />
								<button class="btn-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
							</fieldset>
						</form>
					</div>
				</div>
				<div class="inner-table table-highlight">
					<table>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Time</th>
							<th>Type</th>
							<th>Att</th>
						</tr>
						<tr *ngFor="let items of reqModel" [ngClass]="flagRequest(items.flag, items.viewed)" [routerLink]="['/Admin/Request-Details', items.id]" >
							<td>{{items.name}}</td>
							<td>{{items.email}}</td>
							<td>{{items.date | date: 'dd MMMM, yyyy'}}<span class="text-gray"> @ </span>{{items.date | date: 'HH:mm'}}</td>
							<td><span [ngClass]="getCssClass(items.requestTypeInString)">{{items.requestTypeInString}}</span></td>
							<td><span class="btn-icon"><i class="fa fa-file-o" aria-hidden="true"></i></span></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="pager">
				<a href="#" class="btn-prev disabled">prev</a>
				<a href="#" class="btn-next">next</a>
				<span class="number-page">Page 1 of 1</span>
			</div>
		</div>
		<!-- main  end -->
	</div>
