<div id="wrapper">
		<!-- header  start -->
		<header id="header">
			<strong class="logo"><a routerLink="">ITMINT</a></strong>
			<ul class="head-aside">
				<li><a routerLink="/Admin/Settings"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
			</ul>
			<nav id="nav">
				<ul class="menu">
					<li class="active"><a routerLink="/Admin/Inbox"><i class="fa fa-inbox" aria-hidden="true"></i>INBOX</a></li>
					<li><a routerLink="/Admin/Metadata"><i class="fa fa-tags" aria-hidden="true"></i>METADATA</a></li>
					<li><a routerLink="/Admin/Projects"><i class="fa fa-file-text" aria-hidden="true"></i>PROJECTS</a></li>
				</ul>
			</nav>
		</header>
		<!-- header  end
		     main  start -->
		<div id="main">
			<ul class="bar">
				<li>
					<div class="bar-hold">
						<strong class="bar-title">NEW REQUEST
							<span class="hold-icon"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></span>
						</strong>
						<strong class="bar-number">5</strong>
						<span class="bar-info">LATEST WAS 11 HOURS AGO</span>
					</div>
				</li>
				<li>
					<div class="bar-hold hold-green">
						<strong class="bar-title">TOP TYPES
							<span class="hold-icon"><i class="fa fa-circle-o" aria-hidden="true"></i></span>
						</strong>
						<ul class="list">
							<li><a href="#">Web Development</a></li>
							<li><a href="#">Design</a></li>
							<li><a href="#">Testing</a></li>
							<li><a href="#">QA</a></li>
						</ul>
					</div>
				</li>
				<li>
					<div class="bar-hold hold-orange">
						<strong class="bar-title">TOP COUNTRIES
							<span class="hold-icon"><i class="fa fa-globe" aria-hidden="true"></i></span>
						</strong>
						<ul class="list">
							<li><a href="#">United States</a></li>
							<li><a href="#">Belarus</a></li>
							<li><a href="#">Canada</a></li>
							<li><a href="#">United Kingdom</a></li>
						</ul>
					</div>
				</li>
				<li>
					<div class="bar-hold hold-red">
						<strong class="bar-title">TOTAL REQUESTS
							<span class="hold-icon"><i class="fa fa-telegram" aria-hidden="true"></i></span>
						</strong>
						<strong class="bar-number">114</strong>
						<span class="bar-info">13% DECREASE THIS MONTH</span>
					</div>
				</li>
			</ul>
			<div class="hold-table">
				<div class="head-table">
					<div class="hold-title">
						<h1>Requests</h1>
					</div>
					<div class="hold-search">
						<form action="#">
							<fieldset>
								<input type="text" placeholder="Search" />
								<button class="btn-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
							</fieldset>
						</form>
					</div>
				</div>
				<div class="inner-table table-highlight">
					<table>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Time</th>
							<th>Type</th>
							<th>Att</th>
						</tr>
						<tr class="odd">
							<td>Max Trukhanovich</td>
							<td>max.t@itmint.ca</td>
							<td>12th May, 2017 <span class="text-gray">@</span> 17:31</td>
							<td><span class="text-type">Web Development</span></td>
							<td><span class="btn-icon"><i class="fa fa-files-o" aria-hidden="true"></i></span></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="pager">
				<a href="#" class="btn-prev disabled">prev</a>
				<a href="#" class="btn-next">next</a>
				<span class="number-page">Page 1 of 13</span>
			</div>
		</div>
		<!-- main  end -->
	</div>
