@import "compass/css3";

$font-path: "../fonts/";
$font-bold: $font-path + "montserrat-semibold-webfont";
$font-light: $font-path + "montserrat-light-webfont";
$font-regular: $font-path + "montserrat-regular-webfont";
$font-ultralight: $font-path + "montserrat-ultralight-webfont";

@font-face {
  font-family: 'montserratlight';
  src: url($font-light + '.eot');
  src: url($font-light + '.eot?#iefix') format('embedded-opentype'),
  url($font-light + '.woff2') format('woff2'),
  url($font-light + '.woff') format('woff'),
  url($font-light + '.ttf') format('truetype'),
  url($font-light + '.svg#montserratlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: url($font-regular + '.eot');
  src: url($font-regular + '.eot?#iefix') format('embedded-opentype'),
  url($font-regular + '.woff2') format('woff2'),
  url($font-regular + '.woff') format('woff'),
  url($font-regular + '.ttf') format('truetype'),
  url($font-regular + '.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratsemi_bold';
  src: url($font-bold + '.eot');
  src: url($font-bold + '.eot?#iefix') format('embedded-opentype'),
  url($font-bold + '.woff2') format('woff2'),
  url($font-bold + '.woff') format('woff'),
  url($font-bold + '.ttf') format('truetype'),
  url($font-bold + '.svg#montserratsemi_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratultra_light';
  src: url($font-ultralight + '.eot');
  src: url($font-ultralight + '.eot?#iefix') format('embedded-opentype'),
  url($font-ultralight + '.woff2') format('woff2'),
  url($font-ultralight + '.woff') format('woff'),
  url($font-ultralight + '.ttf') format('truetype'),
  url($font-ultralight + '.svg#montserratultra_light') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Typography */
$font-size-base: 12px;
$line-height-base: 20px;

$font-size-middle: 24px;
$line-height-middle: 29px;

$font-size-large: 48px;
$line-height-large: 58px;

$font-family-bold: 'montserratsemi_bold', arial, helvetica, sans-serif;
$font-family-light: 'montserratlight', arial, helvetica, sans-serif;
$font-family-regular: 'montserratregular', arial, helvetica, sans-serif;
$font-family-ultralight: 'montserratultra_light', arial, helvetica, sans-serif;

/*colors text*/
$link: #030e1a;
$gray-color: rgba(3, 14, 26, 0.6);
$text-color: rgba(3, 14, 26, 0.45);

$black-color: #030e1a;
$white-color: #fff;
$green-color: #00a653;

/*background*/
$white-bg2: #fafbfc;
$body-bg: #f0f4f7;
$green-bg: #00a653;
$green-dark-bg: #017c3f;
$white-bg: #fff;
$dark-bg: #1f2933;
$dark-bg2: #333d47;

/* border-color */
$border-gray: rgba(3, 13, 26, 0.05);
$border-green: #00a653;
$border-red: #ff4000;

html, body {
  height: 100%;
  margin: 0;
}

body {
  opacity: 1;
  background: $body-bg;
  min-width: 320px;
  margin: 0;
  color: $text-color;
  font-family: $font-family-light;
  font-size: $font-size-base;
  line-height: $line-height-base;
  -webkit-text-size-adjust: 100%;
}

/* General reset */
form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

img {
  border-style: none;
  vertical-align: top;
}

input, select, textarea {
  vertical-align: middle;
  font-family: $font-family-light;
  font-size: $font-size-base;
  line-height: $line-height-base - 2px;
}

a {
  color: $link;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:hover {
    text-decoration: underline;
  }
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

figure {
  margin: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
  margin: 0;
}

a:focus,
a:hover {
  outline: none;
  outline: 0;
}

h1 {
  font-family: $font-family-bold;
  font-size: $font-size-large;
  line-height: $line-height-large;
  font-weight: normal;
  margin: 0 0 94px;
  color: $black-color;
}

h2 {
  font-family: $font-family-bold;
  font-size: $font-size-middle;
  line-height: $line-height-middle;
  font-weight: normal;
  margin: 0 0 48px;
  color: $black-color;
  .text-green {
    display: block;
    &.text-other {
      display: inline;
    }
  }
}

h3 {
  font-family: $font-family-bold;
  font-weight: normal;
  text-transform: uppercase;
  font-size: $font-size-base;
  line-height: $line-height-base - 4px;
  color: $black-color;
  margin: 0 0 18px;
}

h4,
h5 {
  font-weight: normal;
  color: $black-color;
  margin: 0 0 15px;
  font-size: $font-size-base;
  line-height: $line-height-base - 4px;
}

h5 {
  font-size: $font-size-base - 2px;
  line-height: $line-height-base - 6px;
}

.text-green {
  color: $green-color;
  font-weight: normal;
}

p {
  margin: 0 0 30px;
}

.btn {
  min-width: 96px;
  height: 48px;
  @include box-sizing(border-box);
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  border: 0;
  margin: 0 0 20px;
  padding: 0 32px;
  background: $green-bg;
  font-family: $font-family-bold;
  font-size: 12px;
  line-height: 48px;
  color: $white-color;
  cursor: pointer;
  z-index: 1;
  position: relative;
  text-align: center;
  text-decoration: none;
  @include transition(background .3s ease-in-out);

  &:hover {
    background: $green-dark-bg;
    text-decoration: none;
  }
  &.btn-small {
    margin: 0 0 15px;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    min-width: 64px;
    padding: 0 10px;
  }
  &.btn-white {
    background: $white-bg;
    color: $black-color;

    &:hover {
      background: rgba(255, 255, 255, 0.85);
    }
  }
}

.link {
  display: inline-block;
  vertical-align: top;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 1px;
    background: $green-bg;
    @include transition(width .3s ease-in-out);
  }
  &:hover:before {
    width: 100%;
  }
}

/* wrapper */
#wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100%;
}

.w1 {
  padding-bottom: 355px;
}

/* header */
#header {
  /*position:absolute;*/
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 14;
  padding: 64px 0 0;
  color: $white-color;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .wrap {
    max-width: 1920px;
    @include box-sizing(border-box);
    position: relative;
  }
  .logo {
    position: absolute;
    top: 0px;
    left: 64px;
    -webkit-transition: top .2s ease-in-out;
    -moz-transition: top .2s ease-in-out;
    transition: top .2s ease-in-out;
  }
  &.fixed-header {
    position: fixed;
    height: 47px;
    padding: 9px 0 8px;
    background: rgba(255, 255, 255, 0.95);

    #nav {
      .menu {
        margin-top: -1px;

        > li {
          > a {
            color: $black-color;
          }
          &.item-drop {
            > a:hover {
              color: $white-color;
            }
            &:hover {
              > a {
                color: $white-color;
              }
            }
          }
        }
      }
      .toogle-menu {
        span {
          background: #030e1a;
        }
      }
      .toogle-menu,
      .link {
        color: $black-color;
      }
      .aside-nav {
        top: 15px;
      }
      .menu-holder {
        .toogle-menu {
          span {
            background: $white-bg;
          }
        }
        .logo {
          top: 0;
          a,
          span {
            background: url(../images/bg-logo.svg) no-repeat 0 0;
          }
        }
        .menu > li > a {
          color: $white-color;
        }
        .toogle-menu,
        .link {
          color: $white-color;
        }
        .aside-nav {
          top: 0;
        }
      }
    }
    .logo {
      top: 15px;

      a,
      span {
        background: url(../images/bg-logo-gray.svg) no-repeat 0 0;
      }
    }
  }
}

#nav {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 12px;
  line-height: 16px;
  .menu {
    margin: -16px 0 0 -16px;
    padding: 0;
    list-style: none;
    float: left;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
    > li {
      float: left;
      margin: 0 17px 5px 0;
      position: relative;

      .drop {
        width: auto;
        position: absolute;
        top: 48px;
        left: 0;
        width: 256px;
        background: $dark-bg;
        overflow: hidden;
        margin: 0;
        padding: 13px 0 11px;
        list-style: none;
        z-index: 10;
        display: none;

        li {
          width: 100%;
          position: relative;

          a {
            color: $white-color;
            display: block;
            padding: 12px 16px 6px;
            background: none;

            > span {
              position: relative;
              display: inline-block;
              vertical-align: top;
              overflow: hidden;
              padding: 0 0 6px;

              &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background: $green-bg;
                @include transition(width .3s ease-in-out);
              }
            }
            &:hover {
              text-decoration: none;
              > span:before {
                width: 100%;
              }
            }
          }
          &.active a {
            > span:before {
              width: 100%;
            }
            cursor: default;
          }
        }
      }
      > a {
        color: $white-color;
        text-transform: uppercase;
        position: relative;
        padding: 16px;
        display: block;

        > span {
          position: relative;

          &:before {
            content: '';
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 0;
            height: 1px;
            background: $green-bg;
            @include transition(width .3s ease-in-out);
          }
        }
        &:hover {
          text-decoration: none;
          > span:before {
            width: 100%;
          }
        }
      }
      &.active > a {
        cursor: default;
        span:before {
          width: 100%;
        }
      }
      &.item-drop {
        > a > span:before {
          opacity: 0;
        }
        > a:hover {
          text-decoration: none;
          background: $dark-bg;
          color: $white-color;
        }
        &.active {
          > a > span:before {
            opacity: 1;
          }

        }
        &.active:hover {
          > a > span:before {
            opacity: 0;
          }
          > a {
            cursor: pointer;
          }
        }
        &:hover {
          .drop {
            display: block;
          }
          > a {
            text-decoration: none;
            background: $dark-bg;
            color: $white-color;
          }
        }
      }
    }
  }
  .aside-nav {
    position: absolute;
    top: 0;
    right: 64px;
    -webkit-transition: top .2s ease-in-out;
    -moz-transition: top .2s ease-in-out;
    transition: top .2s ease-in-out;
  }
  .toogle-menu {
    float: right;
    color: $white-color;
    text-transform: uppercase;
    padding: 3px 37px 0 5px;
    @include border-radius (4px);
    position: relative;
    margin: -3px -5px 7px 44px;
    @include transition(background .3s ease-in-out);

    span {
      position: absolute;
      top: 0px;
      right: 5px;
      width: 16px;
      height: 1px;
      background: $white-bg;
      text-indent: -9999px;
      overflow: hidden;

      &.t {
        top: 6px;
      }
      &.c {
        top: 11px;
      }
      &.b {
        top: 16px;
      }
    }
    .toogle-text {
      position: relative;
      display: inline-block;
      vertical-align: top;
      font-style: normal;
      padding-bottom: 6px;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background: $green-bg;
        @include transition(width .3s ease-in-out);
      }
    }
    &:hover {
      text-decoration: none;

      .toogle-text:before {
        width: 100%;
      }
    }
  }
  .link {
    float: right;
    color: $white-color;
    margin: 0 0 10px 20px;
    position: relative;

    &:before {
      bottom: -6px;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .menu-holder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    background: $dark-bg;
    @include box-sizing(border-box);
    @include transition(opacity .2s ease-in-out, visibility .2s ease-in-out);
    padding: 110px 64px;
    text-align: center;
    min-height: 650px;

    .head-nav {
      position: absolute;
      top: 64px;
      left: 0px;
      right: 0;
    }
    .col {
      display: inline-block;
      vertical-align: top;
      max-width: 262px;
      margin: 0 47px;
      text-align: left;
    }
    .title-menu {
      display: block;
      text-transform: uppercase;
      font-family: $font-family-bold;
      font-weight: normal;
      font-size: $font-size-middle;
      line-height: $line-height-middle;
      margin: 0 0 24px;

      a {
        color: $white-color;
      }
    }
    .menu {
      margin: 0;
      float: none;
      li {
        float: none;
        margin: 0 0 11px;
        a {
          display: inline-block;
          vertical-align: top;
          text-transform: none;
          font-size: 16px;
          line-height: 19px;
          padding: 0 0 5px;
          opacity: 0.6;
          @include transition(opacity .3s ease-in-out);
          &:hover {
            opacity: 1;
          }

          &:before {
            content: '';
            position: absolute;
            left: 0;
            width: 0;
            height: 1px;
            background: $green-bg;
            @include transition(width .3s ease-in-out);
            bottom: -1px;
            left: 0;
          }
          &:hover:before {
            width: 100%;
          }
        }
        &.active a {
          opacity: 1;
          &:before {
            width: 100%;
          }
        }
      }
    }
    .list-networks {
      position: absolute;
      bottom: 50px;
      left: 64px;
      right: 64px;
      text-align: center;
      width: auto;
      li {
        float: none;
        display: inline-block;
        vertical-align: top;
        margin: 0 6px 14px;
      }
    }
    .toogle-menu {
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 16px;
        height: 16px;
        margin: -10px 5px 0;
        background: url(../images/bg-close.svg) no-repeat 0 0;
      }
      span {
        display: none;
      }
    }
  }
  &.open .menu-holder {
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
  }
}

.logo {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  text-indent: -9999px;
  margin: 0 0 15px;
  width: 115px;
  height: 16px;
  a,
  span {
    width: 100%;
    height: 100%;
    background: url(../images/bg-logo.svg) no-repeat 0 0;
    display: block;
  }
  a {
    @include transition(opacity .2s ease-in-out);
  }
  a:hover {
    opacity: 0.85;
  }
}

/* main */
#main {
  overflow: hidden;
  width: 100%;
}

.hold-gray {
  padding: 96px 0 0;
}

.hold-white {
  padding: 96px 0 40px;
  background: $white-bg2;
  color: $gray-color;

  &.other-space {
    padding: 73px 0 23px;
  }
}

.wrap {
  max-width: 1088px;
  margin: 0 auto;
  padding: 0 64px;
  &.wrap-small {
    max-width: 720px;
    padding-bottom: 66px;

    &:last-child {
      padding-bottom: 26px;
    }
  }
  &.wrap-large {
    max-width: 1408px;
    padding: 0 96px;
  }
}

.wrap-title {
  width: 100%;
}

.wrap-title h2 {
  margin: 0 0 31px;
}

.text-center {
  display: table;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  .text-inner {
    display: table-cell;
    vertical-align: middle;
    .text-last {
      width: 100%;
      display: block;
    }
  }
}

.hold-btn {
  width: 100%;
  overflow: hidden;
}

.list-networks {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  overflow: hidden;
  li {
    float: left;
    width: 32px;
    height: 32px;
    margin: 0 16px 16px 0;

    a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      @include border-radius(50%);
      /*background: $dark-bg2;*/
      text-indent: -9999px;
      overflow: hidden;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        @include transition(opacity .2s ease-in-out);
        -o-background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;
      }
      &.facebook:before {
        background-image: url(../images/facebook-dark.svg);
      }
      &.twitter:before {
        background-image: url(../images/twitter-dark.svg);
      }
      &.instagram:before {
        background-image: url(../images/instagram-dark.svg);
      }
      &:hover:before {
        opacity: 1;
      }
    }
  }
  &.white-networks li a {
    /*background: $white-bg ;*/

    &:before {
      opacity: 1;
    }
    &.facebook:before {
      background-image: url(../images/facebook.svg);
    }
    &.twitter:before {
      background-image: url(../images/twitter.svg);
    }
    &.instagram:before {
      background-image: url(../images/instagram.svg);
    }
    &:hover:before {
      opacity: 0.7;
    }
  }
}

.main-img {
  width: 100%;
  height: 75vh;
  background-color: #030e1a;
  background-position: 50% 0;
  background-repeat: no-repeat;
  @include background-size(cover);
  overflow: hidden;
  color: $white-color;
  min-height: 600px;

  .wrap {
    width: 848px;
    @include box-sizing(border-box);
    padding-top: 130px;
    padding-bottom: 130px;
    height: 100%;
    position: relative;
    z-index: 3;
  }
  p {
    font-size: $font-size-middle;
    line-height: $line-height-middle;
    margin: 0 0 63px;
  }
  h1 {
    margin: 0 0 23px;
    color: $white-color;
  }
  .text-last {
    padding: 20px 0 0;
  }
  .title-holder {
    margin: 0 -90px 0 0;
  }
  .text-center {
    overflow: visible;
  }
}

.switcher {
  overflow: hidden;
  margin: 0 0 15px;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;
  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 3px 5px;
    a {
      width: 8px;
      height: 8px;
      display: block;
      @include border-radius(50%);
      overflow: hidden;
      text-indent: -9999px;
      background: rgba(3, 14, 26, 0.2);
      @include transition(background .3s ease-in-out);
      &:hover {
        background: $green-bg;
      }
    }
    &.active a {
      background: $green-bg;
      cursor: default;
    }
  }
}

.holder {
  width: 100%;
  overflow: hidden;
}

.info {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 0 15px;
  padding: 0 0 10px;
  border-bottom: 1px solid rgba(3, 14, 26, 0.15);
  font-size: 12px;
  line-height: 18px;

  address {
    font-style: normal;
    padding: 0 0 7px;
  }
}

.info dt,
.info dd {
  float: left;
  width: 48%;
  padding: 0 2% 0 0;
  margin: 0 0 5px;
}

.info dd {
  padding: 0 0 0 2%;
  margin: 0;
  float: right;
  text-align: right;
  color: $black-color;
  font-family: $font-family-bold;
  max-width: 188px;

  a {
    position: relative;
    display: inline-block;
    vertical-align: top;

    &:before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 1px;
      background: $green-bg;
      @include transition(width .3s ease-in-out);
    }

    &:hover {
      text-decoration: none;
      &:before {
        width: 100%;
      }
    }
  }
  a[href^="tel"]:before {
    display: none;
  }
}

a[href^="tel"],
a[href^="tel"]:hover {
  cursor: default;
  text-decoration: none;
  white-space: nowrap;
  border: none;

  &:before {
    display: none;
  }
}

.visible-xs {
  display: none;
}

/* footer */
#footer {
  overflow: hidden;
  width: 100%;
  padding: 64px 0 0;
  position: relative;
  height: 291px;
  margin-top: -355px;
  background: $white-bg2;
  color: $gray-color;

  .wrap {
    max-width: 1792px;
  }
  .hold-line {
    overflow: hidden;
    border-bottom: 1px solid rgba(3, 14, 26, 0.15);
    margin: 0 0 44px;
    padding: 6px 150px 33px;
  }
  .copyright,
  .foot-text {
    float: left;
    font-size: 12px;
    line-height: 16px;
    margin: 0 10px 10px 0;
  }
  .foot-text {
    float: right;
    margin: 0 0 10px 10px;

    a {
      color: $gray-color;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0;
        height: 1px;
        background: $green-bg;
        @include transition(width .3s ease-in-out);
      }

      &:hover {
        text-decoration: none;

        &:before {
          width: 100%;
        }
      }
    }
  }

  .logo {
    float: left;
    margin: 0 0 20px -150px;

    a,
    span {
      background-image: url(../images/bg-logo-gray.svg);
      opacity: 0.3;
    }
    a:hover {
      opacity: 0.45;
    }
  }
  .hold-col {
    text-align: center;

    .col {
      display: inline-block;
      vertical-align: top;
      margin: 0 62px;
      max-width: 198px;
      text-align: left;

      .title-menu {
        display: block;
        color: $black-color;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        font-family: $font-family-bold;
        font-weight: normal;
        margin: 0 0 24px;
      }
    }
  }
  .menu {
    margin: 0;
    padding: 0 0 23px;
    list-style: none;

    li {
      margin: 0 0 8px;
      a {
        color: rgba(3, 14, 26, 0.6);
        font-size: 12px;
        line-height: 16px;
        position: relative;
        padding: 0 0 2px;
        display: inline-block;
        vertical-align: top;
        @include transition(color .3s ease-in-out);

        &:before {
          background: $green-bg;
          bottom: -1px;
          content: "";
          height: 1px;
          left: 0;
          position: absolute;
          @include transition(width .3s ease-in-out);
          width: 0;
        }
        &:hover {
          color: rgba(3, 14, 26, 1);
          text-decoration: none;
          &:before {
            width: 100%;
          }
        }
      }
      &.active a {
        cursor: default;
        color: rgba(3, 14, 26, 1);

        &:before {
          width: 100%;
        }
      }
    }
  }
  .list-networks {
    float: right;
    width: auto;
    margin: 0 -150px 15px 0;
    li {
      margin: 0 0 16px 16px;
    }
  }
}

.section {
  width: 100%;

  .wrap.wrap-small {
    padding-bottom: 66px;
  }
}

/* anim */
.anim {
  @include transition(top .5s ease-in-out, opacity .5s ease-in-out);
}

.top-anim {
  padding-top: 40px;
  opacity: 0;
}

.visible.top-anim {
  padding-top: 0;
  opacity: 1;
}

.top-anim2 {
  position: relative;
  top: 40px;
  opacity: 0;
}

.visible.top-anim2 {
  top: 0;
  opacity: 1;
}

.touchDevice {
  .link:before,
  #nav .toogle-menu .toogle-text:before,
  #nav .menu-holder .menu li a:before,
  .panel li a:after,
  .info dd a:before,
  #footer .foot-text a:before,
  .modal-close em:before {
    display: none;
  }
}

.inner-page {
  #main {
    padding: 177px 0 35px;
  }
  .logo {
    a,
    span {
      background-image: url(../images/bg-logo-gray.svg);
    }
  }
  #nav .menu > li > a {
    color: $black-color;
  }
  #nav {
    .menu-holder {
      .logo {
        a,
        span {
          background-image: url(../images/bg-logo.svg);
        }
      }
      .menu > li > a {
        color: $white-color;
      }
    }
    .link {
      color: $black-color;
    }
    .toogle-menu {
      color: $black-color;

      span {
        background: #030e1a;
      }
    }

    &.open {
      .toogle-menu {
        color: $white-color;
      }
    }
  }
}

.hold-foot {
  width: 100%;
  overflow: hidden;
  padding: 0 0 15px;

  .btn {
    float: left;
    min-width: 118px;
    margin-right: 10px;
  }
  .list-networks {
    float: right;
    width: auto;
    padding: 8px 0 0;

    li {
      margin-right: 0;
      margin-left: 16px;
    }
  }
}

.container-info {
  padding: 14px 0 33px;
}

form {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%;
    @include box-sizing(border-box);
    height: 48px;
    padding: 16px 15px;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    margin: 0 0 16px;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: #19242f;
    outline: none;
    outline: 0;
    @include transition(border-color .3s ease-in-out);
    @include border-radius (0);
    -webkit-appearance: none;

    &:focus {
      border-color: rgba(255, 255, 255, 0.6);
    }
    &.error {
      border-color: $border-red;
    }
  }
  textarea {
    width: 100% !important;
    min-height: 160px;
    max-width: 100% !important;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 0 32px;
    padding: 15px;
    font-size: 12px;
    line-height: 17px;

    &:focus {
      border-color: rgba(255, 255, 255, 0.6);
    }
    &.error {
      border-color: $border-red;
    }
  }
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: -9999px;
  left: -9999px;
  z-index: 1000;
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 12px;
  line-height: 18px;

  .title-modal {
    font-size: $font-size-middle;
    line-height: $line-height-middle;
    font-family: $font-family-bold;
    font-weight: normal;
    margin: 0 0 46px;
    display: block;

    .text-green {
      display: block;
    }

    &.title-large {
      font-size: $font-size-large;
      line-height: $line-height-large;
      margin: 0 0 95px;
    }
  }
  .hidden {
    display: none;
  }
  .modal-inner {
    margin: 177px auto 60px;
    max-width: 720px;
    padding: 0 64px;
    position: relative;
    z-index: 2;
  }
  .logo {
    position: absolute;
    top: 64px;
    left: 64px;
    margin: 0;
    z-index: 2;
    background: url(../images/bg-logo.svg) no-repeat 0 0;
  }
  p {
    color: rgba(255, 255, 255, 0.6);
    margin: 0 0 50px;
  }
  .close {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    bottom: 0;
    right: 0;
    text-indent: -9999px;
    overflow: hidden;
  }
}

.modal-close {
  position: absolute;
  top: 64px;
  right: 60px;
  cursor: pointer;
  color: #fff;
  padding: 0 36px 0 0;
  text-transform: uppercase;
  z-index: 2;
  font-size: 12px;
  line-height: 16px;

  .icon-close {
    position: absolute;
    top: 0;
    right: 4px;
    width: 16px;
    height: 16px;
    background: url(../images/close-large.svg) no-repeat 0 0;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-indent: -9999px;
    overflow: hidden;
  }

  em {
    display: inline-block;
    font-style: normal;
    padding-bottom: 6px;
    position: relative;
    vertical-align: top;

    &:before {
      background: $green-bg;
      bottom: 0;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      @include transition(width .3s ease-in-out);
      width: 0;
    }
  }
  &:hover em:before {
    width: 100%;
  }
}

.dark-from {
  width: 100%;
  color: #fff;
  padding-bottom: 15px;

  .holder {
    width: 100%;
  }
  .btn,
  .file-btn {
    float: left;
    margin: 0 32px 20px 0;
  }
  .holder-center {
    text-align: center;

    .hold-btn {
      padding: 15px 0 0;
    }
  }
  .hold-icon {
    width: 64px;
    height: 64px;
    margin: 0 auto 49px;
    text-align: center;
    line-height: 64px;
    background: $green-bg;
    @include border-radius (50%);

    img {
      vertical-align: middle;
    }
  }

  .holder-center .btn {
    float: none;
    margin: 0 0 16px;
    display: inline-block;
    vertical-align: top;
  }
  .inner-text {
    padding: 0 0 2px;
  }
}

.row-field {
  margin: 0 -24px;
  overflow: hidden;
}

.row-field .col {
  float: left;
  width: 50%;
  padding: 0 24px;
  @include box-sizing(border-box);
}

.hold-field {
  position: relative;
  margin-bottom: 16px;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 17px;
    width: 16px;
    height: 16px;
    margin: -8px 0 0;
    background: url(../images/icon-error.svg) no-repeat 0 0;
    opacity: 0;
    @include transition(opacity .2s ease-in-out);
  }
  &.field-tarea:before {
    top: 17px;
    right: 17px;
    margin: 0;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding-right: 40px;
    padding-left: 49px;
    margin: 0;
  }
  textarea {
    padding-right: 42px;
    margin-bottom: 0;
    padding-left: 49px;
  }

  &.error {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
      border-color: $border-red;

      &:focus {
        border-color: $border-red;
      }
    }
    &:before {
      opacity: 1;
    }
  }
  .icon-field {
    position: absolute;
    top: 17px;
    left: 18px;
    z-index: 5;
    text-indent: -9999px;
    overflow: hidden;
    width: 12px;
    height: 12px;

    &.icon-user {
      background: url(../images/icon-user.svg) no-repeat 0 0;
      top: 18px;
      left: 19px;
    }
    &.icon-phone {
      background: url(../images/icon-phone.svg) no-repeat 0 0;
      width: 14px;
      height: 14px;
    }
    &.icon-email {
      background: url(../images/icon-email.svg) no-repeat 0 0;
      width: 15px;
      top: 18px;
    }
    &.icon-message {
      background: url(../images/icon-message2.svg) no-repeat 0 0;
      width: 15px;
      height: 14px;
    }
  }
}

.hold-select {
  position: relative;

  .icon-field.icon-case {
    position: absolute;
    top: 17px;
    left: 18px;
    z-index: 5;
    text-indent: -9999px;
    overflow: hidden;
    width: 15px;
    height: 14px;
    background: url(../images/icon-suitcase.svg) no-repeat 0 0;
  }

}

.text-error {
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 32px;
  display: block;
  padding: 15px 0 0 32px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 15px;
    left: -1px;
    width: 16px;
    height: 16px;
    background: url(../images/icon-error.svg) no-repeat 0 0;
  }
}

.name-file {
  background: #19242f;
  position: relative;
  margin: 0 0 16px;
  padding: 15px 40px 15px 15px;
  border: 1px solid rgba(255, 255, 255, 0.15);

  .text-file {
    display: block;
    position: relative;
    padding: 0 0 0 35px;
    font-size: 12px;
    line-height: 16px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 2px;
      width: 12px;
      height: 16px;
      background: url(../images/icon-file.svg) no-repeat 0 0;
    }
  }
  .close-remove {
    position: absolute;
    top: 50%;
    right: 16px;
    background: url(../images/close-small.svg) no-repeat 0 0;
    width: 13px;
    height: 13px;
    text-indent: -9999px;
    overflow: hidden;
    opacity: 0.6;
    margin: -7px 0 0;
    @include transition(opacity .2s ease-in-out);

    &:hover {
      opacity: 0.8;
    }
  }
}

.hold-select {
  margin: 0 0 16px;
}

.hold-select select {
  width: 100%;
}

/* custom select */
.outtaHere {
  position: absolute;
  left: -9999px;
}

.selectArea .disabled {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.3;
}

.selectArea {
  line-height: 20px;
  position: relative;
  width: 100% !important;

  .selectButton {
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.15);
    display: block;
    text-decoration: none;
    background: #19242f;
    @include transition(border-color .3s ease-in-out);

    span:first-child {
      display: block;
      margin: 0 32px 0 0;
      height: 16px;
      font-size: 12px;
      line-height: 16px;
      padding: 15px 0 15px 49px;
      color: #fff;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @include transition(color .2s ease-in-out);
    }
    .right {
      position: absolute;
      width: 12px;
      bottom: 0;
      top: 0;
      right: 11px;
      z-index: 10;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        background: url(../images/arrow-white.svg) no-repeat 0 0;
        margin: -2px 0 0;
        width: 8px;
        height: 4px;
      }
    }
  }
  &.hover .selectButton .right:before {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);

  }
  &.placeholder .selectButton span:first-child {
    color: rgba(255, 255, 255, 0.6);
  }
}

.selectOptions {
  z-index: 1000;
  margin: -1px 0 0;

  ul {
    background: #19242f;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.15);

    li {
      font-size: 12px;
      line-height: 16px;

      a,
      span {
        color: #fff;
        padding: 10px 15px;
        text-decoration: none;
        display: block;

        @include transition(background .2s ease-in-out);
      }

      a:hover,
      &.selected a {
        background: rgba(255, 255, 255, 0.05);
      }
    }
  }
  &.customSelect.position-top {
    margin: 0 0 -1px;
    top: auto !important;
    bottom: 100%;
  }
}

/*   file  */
.file-btn {
  width: 141px;
  position: relative;
  margin: 0 0 16px;
  overflow: hidden;
  height: 48px;

  .file-input-area {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 48px;
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  .btn {
    min-width: inherit;
    width: 100%;
    padding: 0 10px;
    float: none;
    margin: 0;
  }
  .file-input-area {
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
  }
  &.hover .btn.btn-white {
    background: rgba(255, 255, 255, 0.85);
  }
}

.simplebox-overlay {
  background: #1f2933;
  display: none;
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

body.dark-page {
  background: $dark-bg;
  color: rgba(255, 255, 255, 0.6);

  #header {
    position: absolute;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;

    &.fixed-header {
      background: none;
      position: absolute;
      height: auto;
      padding: 64px 0 0;

      .logo {
        top: 0;
      }
    }
  }
  .logo a,
  .logo span,
  #header.fixed-header .logo a,
  #header.fixed-header .logo span {
    background: url(../images/bg-logo.svg) no-repeat 0 0;
  }
  #main {
    padding: 177px 0 35px;
  }
  .w1 {
    padding-bottom: 97px;
  }
  #footer {
    background: none;
    height: 97px;
    margin-top: -97px;
    padding: 0;
    color: rgba(255, 255, 255, 0.6);

    .wrap {
      position: relative;
      padding-top: 41px;
      padding-bottom: 10px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 64px;
        right: 64px;
        height: 1px;
        background: rgba(255, 255, 255, 0.15);
      }
    }
    .foot-text a {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  h1,
  h2 {
    color: #fff;
  }
  .modal-close {
    position: absolute;
    top: 0;
  }
}

.list-description {
  margin: 0 -112px -8px 0;
  padding: 0;
  list-style: none;

  > li {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 19px 8% 34px 81px;

    .hold-icon {
      float: left;
      width: 48px;
      margin: -20px 0 15px -81px;
    }
    h2 {
      text-transform: uppercase;
      font-size: 12px;
      line-height: 15px;
      margin: 0 0 24px;
    }
  }
  .panel {
    padding-top: 4px;
    max-width: 386px;
  }
}

.container-description {
  background: rgba(3, 14, 26, 0.15);
  padding: 62px 0 30px;
  margin: 0 0 96px;

  .list-description {
    margin: 0 -62px 0 0;
    padding: 0;
    overflow: hidden;

    li {
      float: left;
      width: 33.33%;
      padding: 19px 6% 34px 81px;

      .hold-icon {
        margin-top: -17px;
      }
    }
  }
}

.wrap-items .list-description {
  margin: 0 -107px 0 0;
  padding: 22px 0 18px;

  li {
    padding-right: 9%;
    padding-bottom: 47px;

    .hold-icon {
      margin-top: -17px;
    }
  }
}

/* placeholder input*/
input:-moz-placeholder {
  color: #999;
  opacity: 1;
}

input::-moz-placeholder {
  color: #999;
  opacity: 1;
}

input::-webkit-input-placeholder {
  color: #999;
}

input:-ms-input-placeholder {
  color: #999;
}

/* input:focus placeholder */
input:focus:-moz-placeholder {
  color: #999;
  opacity: 1;
}

input:focus::-moz-placeholder {
  color: #999;
  opacity: 1;
}

input:focus::-webkit-input-placeholder {
  color: #999;
}

input:focus:-ms-input-placeholder {
  color: #999;
}

/* placeholder  textarea*/
textarea:-moz-placeholder {
  color: #999;
  opacity: 1;
}

textarea::-moz-placeholder {
  color: #999;
  opacity: 1;
}

textarea::-webkit-input-placeholder {
  color: #999;
}

textarea:-ms-input-placeholder {
  color: #999;
}

/*  textarea:focus placeholder */
textarea:focus:-moz-placeholder {
  color: #999;
  opacity: 1;
}

textarea:focus::-moz-placeholder {
  color: #999;
  opacity: 1;
}

textarea:focus::-webkit-input-placeholder {
  color: #999;
}

textarea:focus:-ms-input-placeholder {
  color: #999;
}

/*  dark-form*/
/* placeholder input*/
input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* input:focus placeholder */
input:focus:-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input:focus::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input:focus:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* placeholder  textarea*/
textarea:-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/*  textarea:focus placeholder */
textarea:focus:-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

textarea:focus::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

textarea:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

textarea:focus:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* media  */
@media (max-width: 1650px) {
  #footer .hold-col .col {
    margin: 0 31px;
  }
}

@media (max-width: 1600px) {
  .main-img {
    min-height: 500px;
    p {
      margin: 0 0 47px;
    }
    .text-last {
      padding: 16px 0 0;
    }
    h1 {
      margin: 0 0 16px;
    }
  }
  #nav {
    > .menu {
      padding: 0 50px 0 0;
    }
    .menu-holder {
      min-height: 550px;

      .title-menu {
        font-size: 16px;
        line-height: 19px;
        margin: 0 0 23px;
      }
      .col {
        max-width: 200px;
      }
      .menu li {
        margin: 0 0 10px;

        a {
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }
  h1,
  .modal .title-modal.title-large {
    font-size: $font-size-large - 16px;
    line-height: $line-height-large - 19px;
  }
  .modal .title-modal.title-large {
    margin: 0 0 50px;
  }
  #nav .menu-holder .col {
    margin: 0 31px 0 30px;
  }
  .main-img .title-holder {
    margin: 0;
  }
  body.dark-page h1 {
    font-size: $font-size-large;
    line-height: $line-height-large;
  }
}

@media (max-width: 1350px) {
  #footer .hold-col {
    margin: 0 -20px;
  }
  .main-img .wrap {
    width: 768px;
  }
  #nav {
    max-width: 640px;
  }
  .modal {
    .title-modal {
      margin: 0 0 22px;
    }
  }
  .row-field {
    margin: 0 -16px;
    .col {
      padding: 0 16px;
    }
  }
  .dark-from {
    .holder-center .hold-btn {
      padding: 0;
    }
    .inner-text {
      padding-top: 10px;
    }
  }
  .selectOptions ul li a,
  .selectOptions ul li span {
    padding: 5px 15px;
  }
  body.dark-page h1 {
    font-size: $font-size-large - 16px;
    line-height: $line-height-large - 19px;
  }
}

@media (max-width: 1300px) {
  #footer .hold-col .col {
    margin: 0 30px;
  }
  .wrap.wrap-small,
  .modal .modal-inner {
    max-width: 640px;
  }
}

@media (max-width: 1260px) {
  #footer .hold-col .col {
    margin: 0 15px;
  }
}

@media (max-width: 1180px) {
  #nav > .menu,
  #footer .hold-col {
    display: none;
  }
  #header .wrap,
  #footer .wrap,
  .modal .modal-inner {
    padding: 0 48px;
  }
  #header .logo {
    left: 48px;
  }
  #header {
    padding: 48px 0 8px;
    height: 47px;
  }
  #nav {
    .aside-nav {
      right: 48px;
    }
    .menu-holder {
      padding-top: 90px;
      padding-bottom: 90px;
      min-height: 480px;
      .head-nav {
        top: 48px;
      }

      .list-networks {
        bottom: 34px;
      }
    }
  }
  .main-img {
    min-height: 400px;
    .wrap {
      padding-top: 90px;
      width: 640px;
      padding-bottom: 60px;
    }
  }
  .wrap.wrap-large {
    padding: 0 64px;
  }
  .hold-gray {
    padding: 64px 0 0;
  }
  .wrap.wrap-small {
    max-width: 512px;
    padding-bottom: 34px;
    &:last-child {
      padding-bottom: 16px;
    }
  }
  .modal .modal-inner {
    max-width: 512px;
  }
  .section .wrap.wrap-small {
    padding-bottom: 34px;
  }
  .hold-white {
    padding: 64px 0 20px;
    &.other-space {
      padding: 47px 0 18px;
    }
  }
  #footer {
    height: 177px;
    margin-top: -225px;
    padding: 48px 0 0;
    .logo {
      margin-top: 8px;
    }
    .hold-line {
      padding-top: 0;
      padding-bottom: 17px;
      margin-bottom: 40px;
    }
  }
  .w1 {
    padding-bottom: 225px;
  }
  .main-img .title-holder {
    margin: 0 -40px 0 0;
  }

  .inner-page {
    #main {
      padding: 128px 0 20px;
    }
  }
  h1 {
    margin: 0 0 64px;
  }
  .container-info {
    padding-top: 12px;
  }
  .hold-foot {
    padding-bottom: 9px;
  }
  .modal {
    .modal-inner {
      margin-top: 130px;
      margin-bottom: 40px;
    }
    .title-modal.title-large {
      margin-bottom: 35px;
    }
    .logo {
      top: 48px;
      left: 48px;
    }
  }
  .modal-close {
    padding: 0 32px 0 0;
    right: 48px;
    top: 48px;

    .icon-close {
      right: 0;
    }
  }
  .dark-from .hold-icon {
    margin-bottom: 32px;
  }
  body.dark-page {
    #header.fixed-header,
    #header {
      padding: 48px 0 8px;
    }
    #main {
      padding: 128px 0 20px;
    }

    .wrap.wrap-small {
      max-width: 512px;
    }
  }
  .container-description {
    margin-bottom: 64px;
  }
  .dark-from {
    padding-bottom: 8px;
  }
  body.dark-page #footer .wrap:before {
    left: 48px;
    right: 48px;
  }
}

@media (max-width: 1000px) {
  #nav .menu-holder .col {
    margin: 0 15px;
  }
}

@media (max-width: 860px) {
  #nav .menu-holder {
    padding-left: 48px;
    padding-right: 48px;
    min-height: 780px;
    overflow-y: auto;

    .col {
      max-width: inherit;
      margin: 0 0 24px;
      display: block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      width: 100%;
      overflow: hidden;

      .title-menu {
        float: left;
        width: 50%;
        margin-bottom: 24px;
      }
    }
    .menu {
      float: left;
      width: 45%;
      margin-bottom: 8px;
      padding-top: 3px;
      padding-left: 3.5%;

      li {
        &:hover a:before {
          width: 0;
        }
        a:hover:before {
          width: 100%;
        }
      }
    }
  }
  .main-img {
    .wrap {
      padding-bottom: 40px;
    }
  }
  .info {
    dt {
      width: 34%;
    }
    dd {
      width: 64%;
      padding: 0;
    }
  }
  .container-description .list-description {
    margin: 0;

    > li {
      float: none;
      width: 100%;
      padding: 19px 0 30px 81px;
    }
  }
  .container-description {
    padding-bottom: 34px;

    .wrap {
      max-width: 512px;
    }
  }
}

@media (max-width: 767px) {
  #main {
    padding: 0;
  }
  $font-size-large: 24px;
  $line-height-large: 29px;

  $font-size-middle: 16px;
  $line-height-middle: 19px;

  #nav {
    .menu-holder {
      min-height: inherit;
      overflow-y: auto;
      height: auto;
      bottom: 0;
      padding: 88px 16px 10px;

      .list-networks {
        margin: 0 0 10px;
        bottom: auto;
        left: auto;
        right: auto;
        text-align: left;
        position: static;

        li {
          margin: 0 12px 14px 0;
        }
      }
    }
    .link {
      display: none;
    }
    .text-center {
      display: block;
      height: auto;
      .text-inner {
        display: block;
      }
    }
  }
  h1 {
    font-size: $font-size-middle;
    line-height: $line-height-middle;
    margin: 0 0 24px;
  }
  .main-img h1,
  .modal .title-modal.title-large {
    font-size: $font-size-large;
    line-height: $line-height-large;
  }
  h2 {
    font-size: $font-size-middle;
    line-height: $line-height-middle;
    margin: 0 0 24px;
  }
  .wrap-title h2 {
    margin: 0 0 19px;
  }
  p {
    margin: 0 0 20px;
  }
  .main-img {
    text-align: center;
    p {
      font-size: 16px;
      line-height: 20px;
    }
    .hold-btn {
      display: none;
    }
    .title-holder {
      margin: 0;
    }
  }
  #header {
    padding: 24px 0 8px;
  }
  #nav .menu-holder .head-nav {
    position: fixed;
    min-height: 21px;
    top: 0;
    background: $dark-bg;
    z-index: 3;
    padding: 24px 0 10px;
  }
  #header .wrap,
  #footer .wrap {
    padding: 0 16px;
  }

  #header .logo {
    left: 16px;
  }
  #nav .aside-nav {
    right: 16px;
  }
  .main-img {
    min-height: 320px;
    height: 50vh;

    .wrap {
      width: auto;
      max-width: 640px;
      padding: 70px 16px 30px;
    }
  }
  .wrap {
    padding-left: 16px;
    padding-right: 16px;
    &.wrap-large {
      padding: 0 16px;
    }
    &.wrap-small {
      padding: 0 16px 4px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  .hold-gray {
    padding: 24px 0 0;
  }
  .section .wrap.wrap-small {
    padding-bottom: 5px;
  }
  .hold-white,
  .hold-white.other-space {
    padding: 24px 0 0;
  }
  .visible-xs {
    display: block;
  }
  .hidden-xs {
    display: none;
  }
  .btn {
    margin: 0 0 15px;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    min-width: 133px;
    padding: 0 10px;
  }
  .list-networks.white-networks li a {
    @include transition(opacity .3s ease-in-out);
    &:hover {
      opacity: 0.8;
      &:before {
        opacity: 1;
      }
    }
  }
  .link:before,
  #nav .toogle-menu .toogle-text:before,
  #nav .menu-holder .menu li a:before,
  .panel li a:after,
  .info dd a:before,
  #footer .foot-text a:before,
  .modal-close em:before {
    display: none;
  }
  .info {
    font-size: 12px;
    line-height: 15px;
    padding: 0 0 11px;
    margin: 0 0 17px;

    dd {
      max-width: inherit;

      address {
        padding: 0 0 5px;
      }
    }
  }
  .inner-page #main {
    padding: 88px 0 8px;
  }
  .container-info {
    padding: 21px 0 7px;
  }
  .hold-foot {
    padding: 0;

    .btn {
      min-width: 86px;
    }
    .list-networks {
      padding: 0;
    }
  }
  .modal-close {
    right: 16px;
    top: 24px;

    .icon-close {
      top: 0;
      right: -1px;
    }
  }
  .row-field {
    margin: 0;
    .col {
      float: none;
      width: 100%;
      padding: 0;
    }
  }
  .dark-from .hold-icon {
    margin-bottom: 24px;
  }

  body.dark-page {
    #header.fixed-header,
    #header {
      padding: 24px 0 8px;
    }
    #main {
      padding: 88px 0 8px;
    }
    #footer .wrap:before {
      left: 16px;
      right: 16px;
    }
    #footer {
      height: 111px;
      margin-top: -111px;

      .wrap {
        padding-bottom: 5px;
        padding-top: 25px;
      }
      .copyright,
      .foot-text {
        float: none;
        display: block;
        margin: 0 0 5px;
        font-size: 12px;
        line-height: 20px;
      }
      .copyright .text-inner {
        display: block;
      }
    }
    .w1 {
      padding-bottom: 111px;
    }
    h1 {
      font-size: $font-size-middle;
      line-height: $line-height-middle;
    }
  }
  .container-description {
    padding: 22px 8px 3px;
    margin-bottom: 22px;

    .list-description {
      > li {
        padding: 19px 0 22px 72px;
        .hold-icon {
          margin-left: -72px;
          width: 48px;
        }
        h2 {
          margin: 0 0 16px;
        }
      }
    }
  }
  .dark-from {
    padding-bottom: 0;
    .btn {
      margin: 0 16px 16px 0;
      min-width: 64px;
    }
    .file-btn {
      margin: 0 16px 16px 0;
    }
  }
  .file-btn {
    height: 32px;
    width: 98px;

    .file-input-area {
      height: 32px;
    }
  }
  .modal {
    .title-modal {
      font-size: $font-size-middle;
      line-height: $line-height-middle;
      margin: 0 0 15px;

      &.title-large {
        margin-bottom: 20px;
      }
    }
    .logo {
      top: 24px;
      left: 16px;
    }
    .modal-inner {
      padding: 0 16px;
      margin-top: 80px;
      margin-bottom: 28px;
    }
    p {
      margin: 0 0 20px;
    }
  }
  .hold-field {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      padding-left: 35px;
    }
    .icon-field {
      left: 10px;

      &.icon-user {
        left: 11px;
      }
    }
    textarea {
      padding-left: 35px;
    }
  }
  .selectArea .selectButton span:first-child {
    padding-left: 35px;
  }
  .hold-select .icon-field.icon-case {
    left: 10px;
  }

  .text-error {
    margin: 0 0 25px;
    padding: 8px 0 0 22px;

    &:before {
      top: 8px;
    }
  }
}

@media (max-width: 600px) {
  #nav .menu-holder .col {
    .title-menu {
      float: none;
      width: 100%;
    }
    .menu {
      float: none;
      width: 100%;
      padding: 0 0 8px;
      margin: 0;

      li {
        margin: 0 0 11px;
        a {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }
  #footer {
    height: 206px;
    margin-top: -230px;
    padding: 24px 0 0;
    .hold-line {
      padding: 0 0 8px;
      margin: 0 0 24px;
    }
    .logo {
      float: none;
      margin: 0 0 24px;
      display: block;
    }
    .list-networks {
      float: none;
      margin: 0;
      li {
        margin: 0 16px 16px 0;
      }
    }
    .copyright,
    .foot-text {
      float: none;
      display: block;
      margin: 0 0 5px;
      font-size: 12px;
      line-height: 20px;
    }
    .copyright .text-inner {
      display: block;
    }
  }
  .w1 {
    padding-bottom: 230px;
  }
  .dark-from .inner-text {
    padding: 0 8%;
  }
}
